/* @import url("reset.css"); */
@import url("notifications/notifications.css");
/* Language selectors */
.lang-change{
    display: inline-block;
    width:25px;
    min-width:25px;
    text-align: center;
    padding:5px;
	margin-left:15px; 
    background-color: #D3D3D3 !important;
}
.lang-change:hover{
	background-color: #df4f4f !important;
	color:#fff !important;
}
/* Circle image */
div.circle-img-wrap{
    height:200px;
    width:200px;
    overflow:hidden;
    border-radius:50%;
    border: 2px solid #999;
    margin-left:15px;
    margin-bottom:10px;
}
div.circle-img-wrap img{
    -webkit-transform:translate(-50%);
    margin-left:100px;
}
/* font-awesome color overwrite */
.fa{
    color:#999 !important;
}
a .fa:hover{
    color:#cc0000 !important;
}

